# Query your database over an SSH tunnel with Pandas

### SSH and database information

In [6]:
# ssh variables
ssh_host = '192.168.31.56'
ssh_username = 'itouchtv'
ssh_password = 'itouchtv'

In [15]:
# database variables
host = '192.168.31.49'
user = 'touchtv'
password = 'op@touchtv'
database = 'touchtv_dev'
port = 3306

### Import packages

In [8]:
from sshtunnel import SSHTunnelForwarder
import MySQLdb as db
import pandas as pd

In [3]:
? SSHTunnelForwarder

### The query function

In [16]:
def query(q):
    with SSHTunnelForwarder(
        (ssh_host, 22),
        ssh_username=ssh_username,
        ssh_password=ssh_password,
        remote_bind_address=(host, 3306)
    ) as server:
        conn = db.connect(host=host,
                         port=port,
                         user=user,
                         passwd=password,
                         db=database)
        return pd.read_sql_query(q, conn)

In [17]:
query

### Query time

In [18]:
df = query("select * from channel limit 5")

In [19]:
df

,pk,parent_pk,name,type,remark,status,show,sort,created_at,updated_at,channel_category,recommend_days,root_tag_pk
0,1,0,??,0,QWE,0,0,1,2016-09-07 14:14:47,2017-01-12 15:37:44,0,30,0
1,2,0,??,0,xiugaishij,0,0,2,2016-09-07 14:14:47,2017-01-12 15:37:44,0,30,0
2,3,0,??,3,None,0,0,3,2016-09-07 14:14:47,2017-01-12 15:37:44,0,30,0
3,4,0,????,0,None,0,0,4,2016-09-07 14:14:47,2017-01-12 15:37:44,0,30,0
4,5,0,??,0,None,0,0,5,2016-09-07 14:14:47,2017-01-12 15:37:44,0,30,0